*{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.search-title {
    font-size: 200%;
}

input[type=search] {
    height: 2em;
}

.blue-button {
    border-top: 1px solid #96d1f8;
    background: #427ea6;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f5873), to(#427ea6));
    background: -webkit-linear-gradient(top, #2f5873, #427ea6);
    background: -moz-linear-gradient(top, #2f5873, #427ea6);
    background: -ms-linear-gradient(top, #2f5873, #427ea6);
    background: -o-linear-gradient(top, #2f5873, #427ea6);
    padding: 6.5px 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 11px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.blue-button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.blue-button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.red-button {
    border-top: 1px solid #f79797;
    background: #a64242;
    background: -webkit-gradient(linear, left top, left bottom, from(#732f2f), to(#a64242));
    background: -webkit-linear-gradient(top, #732f2f, #a64242);
    background: -moz-linear-gradient(top, #732f2f, #a64242);
    background: -ms-linear-gradient(top, #732f2f, #a64242);
    background: -o-linear-gradient(top, #732f2f, #a64242);
    padding: 6.5px 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 11px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.red-button:hover {
    border-top-color: #782828;
    background: #782828;
    color: #ccc;
}
.red-button:active {
    border-top-color: #5c1b1b;
    background: #5c1b1b;
}